
/**
 * The following styles get applied inside the editor only.
 */

.wp-block-saai-blocks {
	padding: 1rem;
	background: #f8f9fa;
	border: 1px dashed #ccc;
	border-radius: 4px;
}

.editor-styles-wrapper .saai-breadcrumb-link {
	pointer-events: none;
	cursor: default;
}
